default vesamenu.c32
prompt 0
timeout 10

MENU BACKGROUND /var/lib/tftpboot/fractal-sea.png

LABEL 1
    MENU LABEL ^1) Install FreeBSD
    MENU AUTOBOOT
    MENU DEFAULT
    KERNEL memdisk
    APPEND initrd=http://{{ pxe_server_ip }}/pxeboot/{{ os_name }}/{{ os_maj }}/{{ os_min }}/FreeBSD-12.1-RELEASE-amd64-memstick.img raw

LABEL 2
    MENU LABEL ^2) Boot local hard drive
    LOCALBOOT 0
