default vesamenu.c32
prompt 0
timeout 10

MENU BACKGROUND /var/lib/tftpboot/fractal-sea.png

LABEL 1
    MENU LABEL ^1) Install {{ os_name}} {{ os_maj }}.{{ os_min }}
    MENU AUTOBOOT
    MENU DEFAULT
    KERNEL debian-installer/amd64/linux
    APPEND vga=788 initrd=debian-installer/amd64/initrd.gz keyboard-configuration/layoutcode=us console-setup/ask_detect=false locale=en_US url=http://{{ pxe_server_ip }}/preseed/{{ new_vm_name }}.cfg


LABEL 2
    MENU LABEL ^2) Boot local hard drive
    LOCALBOOT 0

#-- auto url=http://{{ pxe_server_ip }}/preseed/{{ new_vm_name }}.cfg devfs=nomount