default vesamenu.c32
prompt 0
timeout 10

MENU BACKGROUND /var/lib/tftpboot/fractal-sea.png

LABEL 1
    MENU LABEL ^1) Install {{ os_name}} {{ os_maj }}.{{ os_min }}
    MENU AUTOBOOT
    MENU DEFAULT
    KERNEL debian-installer/amd64/linux
    APPEND locale=en_US.UTF-8 keymap=us language=us country=US vga=788 preseed/url=http://{{ pxe_server_ip }}/preseed/{{ new_vm_name }}.cfg initrd=debian-installer/amd64/initrd.gz  --


LABEL 2
    MENU LABEL ^2) Boot local hard drive
    LOCALBOOT 0

#-- auto url=http://{{ pxe_server_ip }}/preseed/{{ new_vm_name }}.cfg devfs=nomount