[global]
        realm = {{ domain_name }}
        workgroup = {{ domain_caps }}
        netbios name = {{ server_hostname_caps }}
        security = ads

        log level = 1

        idmap config *:range = 70001-80000
        idmap config *:backend = tdbsam
        idmap config void.lab:backend = ad
        idmap config void.lab:schema_mode = rfc2307
        idmap config void.lab:range = 10000000-299999999 

        winbind nss info = rfc2307
        winbind enum users = yes
        winbind enum groups = yes
        client ntlmv2 auth = yes

        vfs objects = acl_xattr
        map acl inherit = yes

[bot-data]
        path = /srv/bot-data
        comment = Bot Data
        read only = no
        guest ok = no
        admin users = "{{ ad_admin_users }}"

[shared]
        path = /srv/shared
        comment = Shared Data
        read only = no
        guest ok = yes
        admin users = "{{ ad_admin_users }}"

[iso]
        path = /srv/iso
        comment = ISO Share
        read only = no
        guest ok = no
        admin users = "{{ ad_admin_users }}"

[chad]
        path = /srv/chad
        commend = My Private Share
        read only = no
        guest ok = no
        admin users = "{{ ad_admin_users }}"