[global]
        realm = VOID.LAB
        workgroup = VOID
        netbios name = FS01
        security = ads

        log level = 2

        idmap config *:range = 70001-80000
        idmap config *:backend = autorid
        idmap config void.lab:backend = ad
        idmap config void.lab:schema_mode = rfc2307
        idmap config void.lab:range = 10000000-299999999
        password server = *
        local master = no
        domain master = no
;       wins support = no
;       wins proxy = no
        winbind enum groups = yes
        winbind refresh tickets = yes
        winbind enum users = yes
        winbind use default domain = yes
        ntlm auth = yes
        client ntlmv2 auth = yes
        vfs objects = acl_xattr
        map acl inherit = yes
        kerberos method = secrets and keytab
        template shell = /bin/bash

[chad]
        path = /srv/chad
        comment = Private Share
        read only = no
        guest ok = no
        writeable = yes
        valid users = "VOID\ccasares"

[shared]
        path = /srv/shared
        comment = Shared Data
        read only = no
        guest ok = no
        browseable = yes
        writeable = yes
        create mode = 665
        directory mode = 775
        valid users = "VOID\ccasares"
[iso]
        path = /srv/iso
        comment = ISO Share
        read only = no
        guest ok = no
        writeable = yes
        valid users = "VOID\ccasares"