#!/bin/sh

QEMU_PATH="/opt/emulators/qemu"
DISK_PATH="/opt/emulators/disks/qemu"
QEMU_PPC_BIN="$QEMU_PATH/ppc-softmmu/qemu-system-ppc"

pushd "$QEMU_PATH"
"$QEMU_PPC_BIN" -cpu "g4" -M mac99,via=pmu-adb -m {{ macos9_mem_mb }} -cdrom "$DISK_PATH"/{{ macos9_iso }} -hda "$DISK_PATH"/{{ macos9_hd_img }} -boot d -g 1024x768x32 -vnc 0.0.0.0:1
popd

exit